@import url("styles.css");

.about-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343433;
    font-family: 'Space Grotesk',sans-serif;
    font-weight: 600;
}
.about-title{
    color: #3AD463;
    font-size: 32px;
}
.about-container{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 2%;
}
.about-mapa{
    width: 90%;
    height: 70%;
    overflow: hidden;
}
.about-info{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Space Grotesk',sans-serif;
    font-weight: 400;
}
.about-terminales{
    width: 100%;
    display: flex;
    align-items: center;
}
.about-terminal-title{
    margin-top: 15%;
    font-size: 25px;
    color: #8BEAA4;
}
.about-terminal img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media (max-width: 768px) {
    .about-content{
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 0;
    }
    .about-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .about-mapa{
        width: 80%;
        height: 200px;
    }
    .about-info{
        width: 70%;
        font-size: 16px;
    }
}
