@import url("styles.css");

.contac-content{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Space Grotesk',sans-serif;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.contac-img{
    object-fit: fill;
}
.contac-info{
    height: 80%;
    align-items: flex-start;
}
.contac-title{
    font-size: 32px;
}
.contac-item{
    width: 100%;
    height: 15%;
}
.contac-item-label{
    font-size: 14px;
}
.contac-item-text{
    width: 80%;
    height: 50%;
    font-size: 14px;
    padding: 0 3%;
}
.contac-button{
    width: 86.5%;
    height: 8%;
    margin-top: 5%;
    background-color: #7BD77F;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contac-button:hover{
    background-color: #3AD463;
}
@media (max-width: 768px) {
    .contac-content{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .contac-img{
        display: none;
    }
    .contac-info{
        width: 80%;
    }
}