body{
    background-color: #FBF9F9;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
p{
    margin: 0;
}
.ruta-content{
    width: 79%;
    height: 88.26vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10.5%;
    gap: 2%;
}

.ruta{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 15% 10% 15% ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #DDDDDD;
}
.ruta-img{
    grid-column: 1/3;
    width: 100%;
}
.ruta-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.ruta-title{
    grid-column: 1/3;
    font-size: 24px;
    margin: 2% 3%;
}
.ruta-hora{
    grid-column: 1/3;
    color: rgba(0, 0, 0,0.55);
    font-size: 20px;
    display: flex;
    margin: 0 3%;
    align-items: center;
}
.ruta-hora img{
    width: 2%;
    margin-right: 1%;
    margin-left: 1%;
}
.ruta-precio{
    grid-column: 1/3;
    font-size: 20px;
    width: 100%;
    display: flex;
    margin: 10px 0 0 0;
}
.ruta-precio p{
    margin: 0 0 0 3%;
}
.ruta-descuento{
    width: 50%;
    display: flex;
    margin-left: 8%;
}
.ruta-descuento-total{
    width: 40%;
    height: 20px;
    font-size: 11px;
    background-color: #78C88A;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 3%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.ruta-info{
    grid-column: 1/3;
    font-size: 18px;
    color: #279F42;
    margin: 0 0 0 3%;
}

.ruta-cliente{
    margin-top: 10%;
}
.ruta-cliente-datos{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
}
.ruta-cliente-input{
    width: 75%;
    height: 12%;
    font-size: 14px;
    border: 1px solid #D8D4D4;
    padding: 0 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.ruta-cliente-button{
    width: 30%;
    height: 8%;
    background-color: #78C88A;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}